<%= form_for(@comment) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :body, placeholder: "Leave a comment", cols: 50 %>
    <%= f.hidden_field :dare_id, value: @comment.dare_id %>
  </div>
  <%= f.submit "Comment", class: "btn btn-primary" %>
<% end %>
