<% comments.each do |comment| %>
  <div id="comment-<%= comment.id %>" class="comment-box">
    <div class="row">
      <div class="col-md-8">
        <span class="user">
          <strong><%= link_to comment.user.name, '#' %></strong>
        </span>
        <p class="description"><%= comment.body %></p>
        <span class="timestamp text-muted">
          posted <%= timeago(comment.created_at) %> 
        </span>
      </div>
      <div class="col-md-4">
        <span class="number of likes pull-right">
          <%= comment.comment_likes.count('user_id') %> likes
        </span><br>
        <span class="like this pull-right">
          <%= link_to("Like this!", { controller: "comment_likes", action: "create", 
                                      comment_like: {comment_id: comment.id}}, 
                                    { class: 'btn btn-primary btn-sm', method: :post }) %>
        </span>
      </div>
    </div>
  </div>
<% end %>
