<% dares.each do |dare| %>
  <div id="dare-<%= dare.id %>" class="dare-summary">
    <span class="title">
      <strong><%= link_to dare.title, dare_path(id: dare.id) %></strong>
    </span><br>
    <p class="description"><%= dare.description %></p>
    <span class="user"><%= link_to dare.user.name, '#' %></span>
    <span class="timestamp text-muted">
      posted <%= time_ago_in_words(dare.created_at) %> ago.
    </span>
  </div>
<% end %>