<% dares.each do |dare| %>
  <div id="dare-<%= dare.id %>" class="dare-summary">
    <span class="title">
      <strong><%= link_to dare.title, dare_path(id: dare.id) %></strong>
    </span><br>
    <div class="row">
      <div class="col-md-8">
        <p class="description"><%= link_to dare.description, dare_path(id: dare.id) %></p>
        <span class="user"><%= link_to dare.user.name, user_profile_path(:id => dare.user.id) %></span>
        <span class="timestamp text-muted">
          posted <%= time_ago_in_words(dare.created_at) %> ago.
        </span>
      </div>
      <div class="col-md-4">
        <span class="comments-count"><%= dare.comments.count %> comments</span>
      </div>
    </div>
  </div>
<% end %>
