<% header "Dares" %>


<div class="panel panel-default panel-section-gray">
  <% if user_signed_in? %>
    <%= link_to "Post a dare", new_dare_path, class: "btn btn-lg btn-primary" %>
  <% else %>
    <%= link_to "Sign up to post a dare", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  <% end %>
  <br><br>

<!--cache when string is not blank-->
  <% if params[:search].nil? || params[:search].blank? %>
    <!--<% cache(cache_key_for_dare_table) do %>-->
      <% if @dares.any? %>
        <%= render partial: "dares/dares", locals: { dares: @dares } %>
      <% else %>
        <h3>No Dares Posted Yet</h3>
      <% end %>
    <!--<% end %>-->
  <% else %>
    <% if @dares.any? %>
      <%= render partial: "dares/dares", locals: { dares: @dares } %>
    <% else %>
      <h3>No Dares Posted Yet</h3>
    <% end %>
  <% end %>
  
  
  
  
</div>


<%= form_tag(show_dare_list_path, method: 'get') do %>
  <div class="col-lg-6">
    <div class="input-group">
      <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Dares" %>
      <span class="input-group-btn">
        <%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
      </span>
    </div>
  </div>
<% end %>


