<% header "Post a new dare" %>
<% provide(:button_text, 'Post Dare') %>
<div class="panel panel-default panel-section-gray">
  <%= form_for(@dare) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>


    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %><br>

    <%= f.label :karma_offer %>
    <%= f.text_field :karma_offer, class: 'form-control' %><br>

    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control', rows: 10 %><br>

    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  <% end %>
</div>
