<li id="dare_submission-<%= dare_submission.id %>">


    <div class="embed-container">  
      <%= embed(dare_submission.content) %>
    </div>  
    <span class="user"><%= link_to dare_submission.user.name, '#' %></span>
    <span><%= dare_submission.description %></span>
    <span class="number of likes pull-right">
      <%= dare_submission.submission_likes.count('user_id') %> likes
    </span>
    <br>
    <span class="like this pull-right">
      <%= link_to("Like this!", {controller: "submission_likes", action: "create", submission_like: {dare_submission_id: dare_submission.id}}, {class: 'btn btn-primary btn-sm', method: :post }) %>
    </span>
  
</li>