<% dare_submissions.each do |dare_submission| %>
  <div id="dare_submission-<%= dare_submission.id %>" class="dare-submission-box">
    <div class="row">
      <div class="col-md-4"> 
        <%= embed(dare_submission.content) %>
      </div>
      <div class="col-md-8"> 
        <p>
          <span class="user"><%= link_to dare_submission.user.name, user_profile_path(:id => dare_submission.user.id) %></span><br>
          <span><%= dare_submission.description %></span>
        </p>
        <span class="text-muted">submitted <%= time_ago_in_words(dare_submission.created_at) %> ago.</span>
      </div>
    </div>
    <span class="number of likes pull-right">
      <%= dare_submission.submission_likes.count('user_id') %> likes
    </span>
    <br>
    <span class="like this pull-right">
      <%= link_to("Like this!", {controller: "submission_likes", action: "create", submission_like: {dare_submission_id: dare_submission.id}}, {class: 'btn btn-primary btn-sm', method: :post }) %>
    </span>
  </div>
<% end %>
