<% header "#{resource_name.to_s.humanize} Profile" %>

<div class="panel panel-default panel-section">
  <div class="row">
    <div class="col-lg-2 col-sm-4"><strong>Name</strong></div>
    <div class="col-lg-10 col-sm-8">
      <%= @user.name %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-sm-4"><strong>Email</strong></div>
    <div class="col-lg-10 col-sm-8">
      <%= @user.email %>
    </div>
  </div>
  <br>
  <%= button_to "Edit profile", edit_user_registration_path,
                class: 'btn btn-primary', method: :get %>
</div>
<div class="panel panel-default panel-section">
  <% if @user.dares.any? %>
    <h3>Dares (<%= @user.dares.count %>)</h3>
    <%= render partial: "dares/dares", locals: { dares: @user.dares } %>
  <% else %>
    <h3>No dares posted yet</h3>
  <% end %>
</div>
